body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: linear-gradient(180deg, #111, #222);
  text-align: center;
  overflow-x: hidden;
}

section {
  padding: 60px 20px;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background: url('portada.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 3rem;
  font-weight: 700;
  z-index: 2;
}

.subtitle {
  font-size: 1.5rem;
  z-index: 2;
  color: #e0b3ff;
}

.date {
  z-index: 2;
  margin-top: 10px;
  font-weight: 600;
}

/* Botones */
.btn {
  display: inline-block;
  background: #e0b3ff;
  color: #111;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  background: #fff;
  color: #000;
}

/* Contador */
#timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#timer div {
